
.container {
  display: grid;
  grid-template-areas: "a a a a";
  grid-auto-columns: 25%;
}

@media (max-width: 450px) {
  .container {
    display: inline-block;
  }
}
@media (max-height: 300px) {
  .container {
    display: flex;
    margin-bottom:30px;
  }
  .center-search {
    position: fixed;
    text-align: center;
    margin-bottom:30px;
  }
}

.center-search {
  text-align: center;
}

.center-search input {
  border-radius: 7px;
  height: 30px;
  width: 40%;
}

.center-search input:hover {
  border: 2px solid #a9b2e4 !important;
}


.views{
 
   align-self: center;
}

